<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/profile.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Selamat Datang</title>
</head>
<body>
    <header class="header">
        <a href="#" class="logo">Absen</a>
        <nav class="navbar">
            <a href=""><i class='bx bx-menu'></i></a>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="profile-box">
                <div class="name">
                    <img src="/qr/<%=user.qr %>" alt="qrcode" class="qrcode">
                    <div class="form-group">
                        <label for="nama">Nama</label>
                        <input type="text" id="nama" value="<%=user.name%>" readonly>
                        
                        <label for="kelas">Kelas</label>
                        <input type="text" id="kelas" value="<%=user.kelas%>" readonly>

                        
                        <label for="nis">Nis</label>
                        <input type="text" id="nis" value="<%=user.nis%>" readonly>

                    </div>                                           
                </div>
                <a id="downloadLink" href="/qr/<%=user.qr %>" download="<%=user.qr %>.jpg">
                  <button id="downloadButton" type="button" class="namebtn"><i class='bx bxs-download'></i></button>
                </a>
                
            </div>
        </div>
    </main>
    <footer>

    </footer>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
    <script>
        document.getElementById("downloadButton").addEventListener("click", function () {
            // Sembunyikan tombol "button" saat mengambil tangkapan layar
            const downloadButton = document.getElementById("downloadButton");
            downloadButton.style.display = "none";
    
            // Temukan elemen dengan class "profile-box"
            const profileBox = document.querySelector(".profile-box");
    
            // Gunakan html2canvas untuk membuat tangkapan layar dari elemen "profile-box"
            html2canvas(profileBox).then(canvas => {
                // Konversi tangkapan layar menjadi data URL PNG
                const imgData = canvas.toDataURL('image/png');
    
                // Buat elemen <a> untuk mengunduh gambar
                const a = document.createElement("a");
                a.href = imgData;
                a.download = "downloaded_image.png";
    
                // Klik elemen <a> untuk memulai unduhan
                a.click();
    
                // Tampilkan kembali tombol "button" setelah selesai mengambil tangkapan layar
                downloadButton.style.display = "block";
            });
        });
    </script>
</body>
</html>